#container {
	margin: 0 auto;
}

.letters {
	opacity: 1;
	-webkit-filter: invert(1.0);
	filter: invert;
	width: 12%;
}

.black {
	background-color: black;
	-webkit-filter: invert(0);
	filter: invert;
}
